body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

body {
  background: linear-gradient(270deg, #003366, #45966da1);
  background-size: 800% 800%;
  animation: gradientAnimation 20s ease infinite;
}

.main-content {
  margin-left: 200px; 
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 4rem;
  margin: 0;
}

.header-content h2 {
  font-size: 2.5rem;
  margin: 0;
}

.header-content p {
  font-size: 1.2rem;
  margin: 20px 0 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section {
  padding: 50px 20px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about, .projects, .contact {
  background: transparent;
  color: #fff;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  background: #6b0f1a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #b91372;
}
.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

